
.main-container {
  overflow-y: scroll;
  overflow-x: auto;
  height: 592px;
  padding-bottom: 70px;

  max-height: calc(100% - 85px);
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
}

.page-header,
.header-menu {
  background: #673ab7;
}

.anchor {
  height: 1px;
}

.is-active {
  border-bottom: 2px solid #a7b8c0 !important;
}

.header-menu ul {
  display: inline-flex;
  list-style: none;
  padding-left: 0;
  flex-wrap: wrap;
}

.header-menu ul li {
  color: white;
  list-style-type: none;
  cursor: pointer;
  white-space: nowrap;
  padding: 5px 15px;
  text-align: center;
}

.header-menu ul li :hover {
  -moz-opacity: 0.50;
  opacity: .70;
}

a {
  color: white;
  text-decoration: none;
}

h1, h2 {
  margin-bottom: 0;
  font-family: monospace;
  text-transform: uppercase;
  color: white;
}

mat-card {
  margin-bottom: 300px !important;
}

.mat-card-header {
  width: 100% !important;
  padding: 1.2em;
  border-radius: 8px 8px 0 0;
  background-color: #473897;
  padding:5px !important;
}

.my-table-card {
  width: 85%;
  margin: 10px auto;
}

::ng-deep .mat-card-header-text {
  width: 100% !important;
}

.sticky{
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 10;
}

.tool-box {
  margin-top: 10px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;

  padding: 10px 20px 0 20px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0px;
  z-index: 99999;
  background-color: #fff;
  width: calc(100% - 4%);
  border-top: 2px solid #999;
}

@media (max-width: 640px) {
  .my-table-card-sm {
    width: 95%;
    margin: 1px auto;
    margin-top: 5px;
  }

  .tool-box {
    width: calc(100% - 5%);
  }
}
