<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav-content class="m-0 p-0 row">
    <div class="mat-elevation-z8 app-nav">
      <mat-toolbar color="primary">
        <a routerLink="/" style="height: 50px">
          <img src="assets/img/acs-logo.png" class="imagem">
        </a>

        <ul class="ml-3" role="navigation">
          <li><a class="nav-link" [routerLink]="['/home/contabilistas']" >Contabilista</a></li>
          <li><a class="nav-link" [routerLink]="['/home/temas']" >Temas</a></li>
        </ul>
      </mat-toolbar>
    </div>

    <div style="width: 100%; position: relative;" color="primary">
      <ng-content></ng-content>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
