@import '../../../sass/styles.scss';

.table-content {
  width: 99%;
  margin: auto;
}

.element-row {
  cursor: pointer;
}

.element-row:hover {
  z-index: 99;
  // background: #f5f5f5;
  border-bottom: 2px solid #dadce0 !important;
  box-shadow: inset 1px 0 5px #dadce0,
              inset -1px 0 0 #dadce0,
              0 1px 2px 0 rgba(60, 64, 67, .3),
              0 1px 3px 1px rgba(60, 64, 67, .15);
}

tr.mat-row {
  height: auto;
}
