
<!-- INNER HEADER -->
<div class="page-header pl-3">
  <div class="header-title">
      <h1>{{ title }}</h1>
  </div>

  <div class="header-menu header-title m-0 p-0">
    <!-- ANCORAS PARA CADA PARTE DO FORMULÁRIO -->
    <ul class="mb-0">
        <li [class.is-active]="active_menu === 'geral'">    <a (click)="active_menu = 'geral'" class="ancor-scroll mat-button text-center" href='home/contabilistas/create#card_geral' >Geral</a></li>
        <li [class.is-active]="active_menu === 'endereco'"> <a (click)="active_menu = 'endereco'" class="ancor-scroll mat-button text-center" href="home/contabilistas/create#card_endereco">Endereço</a></li>
    </ul>
  </div>
</div>

<!-- FORM CONTENT -->
<form [formGroup]="formModel" (ngSubmit)="salvarAtualizar(formModel.value, formModel.valid)">
  <div cdkScrollable class="main-container" [style.height.px]="height">
    <!-- GERAL -->
    <div #geralPosition class="anchor" id="card_geral"></div>
    <mat-card class="my-table-card my-table-card-sm p-0 pb-2 mt-2" style="border-radius: 8px;">
        <mat-card-header class="mat-header-class mat-elevation-z8 mb-2">
          <mat-card-title class="m-0">
            <h2 class="mr-auto">Geral</h2>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="my-table-card-content">
          <!-- NOME -->
          <mat-form-field class="form-group w-100" appearance="fill" hideRequiredMarker="true" required>
            <mat-label>Nome</mat-label>
            <mat-error *ngIf="formModel.get('nome').invalid">{{ getErrorMessage( 'nome' ) }}</mat-error>

            <input matInput formControlName="nome" type="text" class="form-control-sm" placeholder="Nome do Contabilista">
          </mat-form-field>

          <!-- CNPJ -->
          <mat-form-field class="form-group w-100" appearance="fill"  hideRequiredMarker="true">
            <mat-label>CNPJ</mat-label>

            <input matInput formControlName="cnpj" type="text" class="form-control-sm">
          </mat-form-field>

          <!-- CPF -->
          <mat-form-field class="form-group w-100" appearance="fill"  hideRequiredMarker="true" required>
            <mat-label>CPF</mat-label>
            <mat-error *ngIf="formModel.get('cpf').invalid">{{ getErrorMessage( 'cpf' ) }}</mat-error>

            <input matInput formControlName="cpf" type="text" class="form-control-sm">
          </mat-form-field>

          <!-- CRC -->
          <mat-form-field class="form-group w-100" appearance="fill"  hideRequiredMarker="true" required>
            <mat-label>CRC</mat-label>
            <mat-error *ngIf="formModel.get('crc').invalid">{{ getErrorMessage( 'crc' ) }}</mat-error>

            <input matInput formControlName="crc" type="text" class="form-control-sm">
          </mat-form-field>

          <!-- TELEFONE -->
          <mat-form-field class="form-group w-100" appearance="fill"  hideRequiredMarker="true" required>
            <mat-label>Telefone</mat-label>
            <mat-error *ngIf="formModel.get('fone').invalid">{{ getErrorMessage( 'fone' ) }}</mat-error>

            <input matInput formControlName="fone" type="text" class="form-control-sm">
          </mat-form-field>

          <!-- FAX -->
          <mat-form-field class="form-group w-100" appearance="fill"  hideRequiredMarker="true">
            <mat-label>FAX</mat-label>

            <input matInput formControlName="fax" type="text" class="form-control-sm">
          </mat-form-field>

          <!-- EMAIL -->
          <mat-form-field class="form-group w-100" appearance="fill"  hideRequiredMarker="true">
            <mat-label>E-Mail</mat-label>

            <input matInput formControlName="email" type="text" class="form-control-sm">
          </mat-form-field>

        </mat-card-content>
    </mat-card>

    <!-- ENDEREÇO-->
    <div #enderecoPosition class="anchor" id="card_endereco" (show)="active_menu = 'endereco'"></div>
    <mat-card class="my-table-card my-table-card-sm p-0 pb-2 mt-2" style="border-radius: 8px;">
        <mat-card-header class="mat-header-class mat-elevation-z8 mb-2">
          <mat-card-title class="m-0">
            <h2 class="mr-auto">Endereço</h2>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="my-table-card-content">
          <!-- ENDEREÇO -->
          <mat-form-field class="form-group w-100" appearance="fill"  hideRequiredMarker="true" required>
            <mat-label>Endereço</mat-label>
            <mat-error *ngIf="formModel.get('endereco').invalid">{{ getErrorMessage( 'endereco' ) }}</mat-error>

            <input matInput formControlName="endereco" type="text" class="form-control-sm">
          </mat-form-field>

          <!-- NUMERO -->
          <mat-form-field class="form-group w-100" appearance="fill"  hideRequiredMarker="true" required>
            <mat-label>Número</mat-label>
            <mat-error *ngIf="formModel.get('numero').invalid">{{ getErrorMessage( 'numero' ) }}</mat-error>

            <input matInput formControlName="numero" type="text" class="form-control-sm">
          </mat-form-field>

          <!-- COMPLEMENTO -->
          <mat-form-field class="form-group w-100" appearance="fill"  hideRequiredMarker="true">
            <mat-label>Complemento</mat-label>

            <input matInput formControlName="complemento" type="text" class="form-control-sm">
          </mat-form-field>

          <!-- BAIRRO -->
          <mat-form-field class="form-group w-100" appearance="fill"  hideRequiredMarker="true" required>
            <mat-label>Bairro</mat-label>
            <mat-error *ngIf="formModel.get('bairro').invalid">{{ getErrorMessage( 'bairro' ) }}</mat-error>

            <input matInput formControlName="bairro" type="text" class="form-control-sm">
          </mat-form-field>

          <!-- COD. MUNICIPIO IBGE -->
          <div class="row">
            <div class="col-7 col-md-7">
              <mat-form-field class="form-group w-100" appearance="fill"  hideRequiredMarker="true" required>
                <mat-label>Cod. Município IBGE</mat-label>
                <mat-error *ngIf="formModel.get('codMunicipio').invalid">{{ getErrorMessage( 'codMunicipio' ) }}</mat-error>

                <mat-icon matSuffix mat-button style="cursor: pointer;" (click)="callCodMunicipioDialog();">search</mat-icon>

                <input matInput formControlName="codMunicipio" type="text" class="form-control-sm">
              </mat-form-field>
            </div>

            <div class="col-5 col-md-5">
                <mat-form-field class="form-group w-100" appearance="fill" hideRequiredMarker="true">
                  <mat-label>Descrição</mat-label>
                  <input matInput formControlName="codMunicipioDescricao" type="text" class="form-control-sm">
                </mat-form-field>
            </div>
          </div>

          <!-- CEP -->
          <mat-form-field class="form-group w-100" appearance="fill"  hideRequiredMarker="true" required>
            <mat-label>CEP</mat-label>
            <mat-error *ngIf="formModel.get('cep').invalid">{{ getErrorMessage( 'cep' ) }}</mat-error>

            <input matInput formControlName="cep" type="text" class="form-control-sm">
          </mat-form-field>

          <!-- UF -->
          <mat-form-field class="form-group w-100" appearance="fill"  hideRequiredMarker="true">
            <mat-label>UF</mat-label>

            <input matInput formControlName="ufDisabled" type="text" class="form-control-sm">
            <input formControlName="uf" hidden>
          </mat-form-field>

        </mat-card-content>
    </mat-card>
  </div>

  <!-- TOOL BOX -->
  <div class="tool-box row m-0">
    <div class="text-right col-12 p-0">
      <label [hidden]="formModel.valid" style="color: red">* Preencha todos os campos obrigatórios</label>
    </div>

    <button type="button" [routerLink]="routerLink" class="mr-auto" mat-raised-button mat-button color="accent">Voltar</button>
    <button type="submit" mat-raised-button mat-button color="primary">{{salvarEditarText}}</button>
  </div>
</form>
