@import '../../../../sass/styles.scss';

/************** HEADER ***************/
.header-menu ul {
  display: inline-flex;
  list-style: none;
  padding-left: 0;
  flex-wrap: wrap;

  li {
    color: white;
    list-style-type: none;
    cursor: pointer;
    white-space: nowrap;
    padding: 5px 15px;
    text-align: center;

    a {
      color: white;
      text-decoration: none;
      font-size: 16px !important;
    }

    &hover {
      -moz-opacity: 0.50;
      opacity: .70;
    }
  }
}

h1, h2 {
  margin-bottom: 0;
  font-family: monospace;
  color: white;
}

.header-menu ul li {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.is-active {
  background: mat-color($accent, .8);
}

.header-menu ul li:not(.is-active) {
  &:hover {
    background: mat-color($accent, .4);
  }
}

/************** MAIN CONTENT ***************/
.main-container {
  overflow-y: scroll;
  overflow-x: auto;
  height: calc(602px - 100px);
  padding-bottom: 90px;
  padding-top: 10px;

  max-height: calc(100% - 85px);
  scroll-behavior: smooth;
}

.anchor {
  height: 1px;
}

.mat-card-header {
  width: 100% !important;
  padding: 1.2em;
  border-radius: 8px 8px 0 0;
  // background-color: mat-color($primary, .7);
  padding:5px !important;
}

::ng-deep .mat-card-header-text {
  width: 100% !important;
}

.my-table-card {
  width: 85%;
  margin: 10px auto;
}

mat-card mat-card-content {
  padding: 10px 20px;
}

::ng-deep .mat-form-field-disabled .mat-form-field-wrapper .mat-form-field-flex {
  background: #dcdcdc;
}

::ng-deep .mat-form-field-disabled .mat-form-field-label {
  color: #24222e !important; }

 ::ng-deep .mat-input-element:disabled {
  color: #24222e !important;
  font-weight: bold;
 }

/************** FOOTER ***************/
.tool-box {
  margin-top: 10px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;

  padding: 10px 20px 0 20px;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0px;
  z-index: 99999;
  width: calc(100% - 4%);
}

/************** MEDIA ALTERS ***************/
@media (max-width: 640px) {
  .my-table-card-sm {
    width: 95%;
    margin: 1px auto;
    margin-top: 5px;
  }

  .tool-box {
    width: calc(100% - 5%);
  }
}
