<div class="page-header pl-3">
  <div class="header-title">
      <h1>Novo Contabilista</h1>
  </div>
  <div class="header-menu header-title m-0 p-0">
    <!-- ANCORAS PARA CADA PARTE DO FORMULÁRIO -->
    <ul class="mb-1">
        <li [class.is-active]="active_menu === 'principal'" ><a mdbPageScroll (click)="active_menu = 'principal'"  class="ancor-scroll mat-button text-center" href='home/contabilistas/create#card_principal' >Principal</a></li>
        <li [class.is-active]="active_menu === 'geral'"><a mdbPageScroll (click)="active_menu = 'geral'" class="ancor-scroll mat-button text-center" href='home/contabilistas/create#card_geral' >Geral</a></li>
        <li [class.is-active]="active_menu === 'endereco'"><a mdbPageScroll (click)="active_menu = 'endereco'" class="ancor-scroll mat-button text-center" href="home/contabilistas/create#card_endereco">Endereço</a></li>
    </ul>
  </div>
</div>

<form [formGroup]="formModel" (ngSubmit)="salvarAtualizar(formModel.value, formModel.valid)">
  <div class="main-container">
    <!-- PRINCIPAL -->
    <div class="anchor" id="card_principal"></div>
    <mat-card class="my-table-card my-table-card-sm p-0 pb-2 mt-2" style="border-radius: 8px;">
      <div class="mat-elevation-z8 mb-2">
        <mat-card-header class="mat-header-class">
          <mat-card-title class="m-0">
            <h2 class="mr-auto">Principal</h2>
          </mat-card-title>
        </mat-card-header>
      </div>

      <mat-card-content class="my-table-card-content">
        <!-- Aqui vai o conteudo  -->
      </mat-card-content>
    </mat-card>

    <!-- GERAL -->
    <div class="anchor" id="card_geral" ></div>
    <mat-card class="my-table-card my-table-card-sm p-0 pb-2 mt-2" style="border-radius: 8px;">
        <div class="mat-elevation-z8 mb-2">
          <mat-card-header class="mat-header-class">
            <mat-card-title class="m-0">
              <h2 class="mr-auto">Geral</h2>
            </mat-card-title>
          </mat-card-header>
        </div>

        <mat-card-content class="my-table-card-content">
          <!-- Aqui vai o conteudo  -->
        </mat-card-content>
    </mat-card>

    <!-- ENDEREÇO-->
    <div class="anchor" id="card_endereco"></div>
    <mat-card class="my-table-card my-table-card-sm p-0 pb-2 mt-2" style="border-radius: 8px;">
        <div class="mat-elevation-z8 mb-2">
          <mat-card-header class="mat-header-class">
            <mat-card-title class="m-0">
              <h2 class="mr-auto">Endereço</h2>
            </mat-card-title>
          </mat-card-header>
        </div>

        <mat-card-content class="my-table-card-content">
          <!-- Aqui vai o conteudo  -->
        </mat-card-content>
    </mat-card>
  </div>

  <!-- TOOL BOX -->
</form>
    <div class="tool-box row m-0">
      <button type="button" class="mr-auto" mat-raised-button mat-button color="accent">VOLTAR</button>
      <button type="submit" mat-raised-button mat-button color="primary">{{salvarEditarText}}</button>
    </div>

<script type="text/javascript">
  var $doc = $('html, body');
  $('.ancor-scroll').click(function() {
      $doc.animate({
          scrollTop: $( $.attr(this, 'href') ).offset().top
      }, 500);
      return false;
  });
</script>
